name: Build and Release

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-and-release:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            qt_ver: 6.8.3
            artifact_name: Programa-Windows-x86_64.zip
            mime_type: application/zip

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: ${{ matrix.qt_ver }}
          host: 'windows'
          target: 'desktop'
          arch: 'win64_msvc2022_64'
          install-deps: 'true'
          use-official: true

      # --- BUILD WINDOWS ---
      - name: Build Windows (Script)
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: ./.github/scripts/BuildWindows.ps1 -ProjectName "Programa"

      # --- CRIAÇÃO DA RELEASE ---
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            Programa-Windows-x86_64.zip
          body_path: release.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}